spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: customers-route
              uri: lb://CUSTOMER-SERVICE
              predicates:
                - Path=/customers/**
            - id: products-route
              uri: lb://INVENTORY-SERVICE
              predicates:
                - Path=/products/**
#eureka:
#  client:
#    enabled: false
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
server:
  port: 8888
