spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: customers-route
              uri: http://localhost:8080
              predicates:
                - Path=/customers/**
            - id: products-route
              uri: http://localhost:8081
              predicates:
                - Path=/products/**
eureka:
  client:
    enabled: false
server:
  port: 8888
